<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer">
    <div class="footer-container">
        <div class="footer-col">
            <h3>THÔNG TIN LIÊN HỆ</h3>
            <p>- HỘ KINH DOANH VanLangBooks</p>
            <p>- Mã số hộ kinh doanh: 8356786253-002</p>
            <p>- Địa chỉ: 69/68 Đ. Đặng Thuỳ Trâm, Phường 13, Bình Thạnh, Thành phố Hồ Chí Minh </p>
            <p>- Hotline: 123123123123</p>
            <p>- Email: vcrons.saigon@gmail.com</p>
        </div>

        <div class="footer-col">
            <h3>CHÍNH SÁCH</h3>
            <p>- Giới thiệu</p>
            <p>- Chính sách đổi trả</p>
            <p>- Chính sách bảo mật</p>
            <p>- Điều khoản dịch vụ</p>
        </div>

        <div class="footer-col">
            <h3>FOLLOW US ON SOCIAL MEDIA</h3>
            <div class="social-icons">
                <a href="https://facebook.com" target="_blank" rel="noopener">
                    <img th:src="@{/asset/img/logo/logo1.jpg}" alt="Facebook" />
                    <span>Facebook</span>
                </a>
                <a href="https://instagram.com" target="_blank" rel="noopener">
                    <img th:src="@{/asset/img/logo/logo2.jpg}" alt="Instagram" />
                    <span>Instagram</span>
                </a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>