.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 4px;
  }

  .discount-label, .discount-percent {
    font-weight: bold;
  }

  .discount-percent {
    color: rgb(8, 4, 4);
    font-weight: bold;
    margin-left: 10px;
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
  }
