* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    width: 100%;
    height: 100%;
  }

  .login-box {
    background-color: white;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 360px;
  }

  .logo {
    width: 80px;
    margin-bottom: 20px;
  }

  .login-box h2 {
    margin-bottom: 25px;
    font-size: 20px;
    color: #222;
  }

  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
  }

  .login-box input[type="text"]:focus,
  .login-box input[type="password"]:focus {
    border-color: #000000;
  }

  .login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .login-box button:hover {
    background-color: #333333;
  }

  .forgot-password {
    text-align: right;
    margin-top: -5px;
    margin-bottom: 15px;
    padding-right: 2px;
  }
  .forgot-password a {
    color: #555;
    font-size: 0.9em;
    text-decoration: none;
    transition: color 0.3s;
  }
  .forgot-password a:hover {
    color: #000000;
  }

  .switch {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }

  .switch a {
    color: #000000;
    text-decoration: none;
    transition: text-decoration 0.3s;
  }

  .switch a:hover {
    text-decoration: underline;
  }